html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  border: none;
  outline: none;
  background-color: transparent; }

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer; }

img {
  vertical-align: top; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.purple {
  background-color: #5f0080; }

.bg {
  background-color: #f7f7f7;
  padding-bottom: 40px; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 111; }

.header .bnr {
  font-size: 0.875rem; }
  .header .bnr--back-purple {
    background-color: #5f0080; }
  .header .bnr .bnr__area {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    color: #fff;
    line-height: 42px;
    text-align: center; }
    .header .bnr .bnr__area .bnr__link--font-bold {
      font-weight: 700; }
    .header .bnr .bnr__area .bnr__link-icon {
      margin-left: 15px; }
    .header .bnr .bnr__area .bnr__close-btn {
      position: absolute;
      right: 0;
      top: 0; }
      .header .bnr .bnr__area .bnr__close-btn .btn {
        font-size: 20px;
        opacity: .6;
        width: 42px;
        height: 42px; }
        .header .bnr .bnr__area .bnr__close-btn .btn:hover {
          opacity: 1; }
        .header .bnr .bnr__area .bnr__close-btn .btn__icon {
          color: #fff; }

.header .utilmenu .utilmenu__area {
  max-width: 1050px;
  margin: 0 auto;
  padding: 10px 15px 0 15px;
  line-height: 22px; }
  .header .utilmenu .utilmenu__area .utilmenu__bnr {
    width: 160px;
    float: left; }
    .header .utilmenu .utilmenu__area .utilmenu__bnr img {
      max-width: 100%; }
  .header .utilmenu .utilmenu__area .utilmenu__menu {
    float: right;
    font-size: 0.75rem; }
    .header .utilmenu .utilmenu__area .utilmenu__menu--purple {
      color: #5f0080; }
    .header .utilmenu .utilmenu__area .utilmenu__menu > li {
      float: left;
      position: relative; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li > a::after {
        content: '';
        width: 1px;
        height: 13px;
        background-color: #d8d8d8;
        margin: -2px 5px;
        display: inline-block; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li:last-child a::after {
        display: none; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li .utilmenu__menu-sub {
        position: absolute;
        left: -6px;
        top: 22px;
        width: 90px;
        padding: 3px 9px;
        border: 1px solid #ddd;
        background-color: #fff;
        display: none;
        z-index: 10; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li:hover .utilmenu__menu-sub {
        display: block; }

.header .utilmenu .logo {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 65px; }
  .header .utilmenu .logo__link {
    position: absolute;
    bottom: 6px;
    display: block; }
    .header .utilmenu .logo__link img {
      max-width: 100%; }

.header .gnb__area {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px; }
  .header .gnb__area .gnb__gnbmenu {
    float: left; }
    .header .gnb__area .gnb__gnbmenu-1dep {
      float: left;
      position: relative;
      font-weight: 900; }
      .header .gnb__area .gnb__gnbmenu-1dep:hover .gnb__gnbmenu-2dep {
        display: block; }
      .header .gnb__area .gnb__gnbmenu-1dep::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 10px;
        background-color: #eee;
        top: 50%;
        right: 0;
        transform: translateY(-50%); }
      .header .gnb__area .gnb__gnbmenu-1dep:first-child > a {
        padding: 20px 40px 20px 0; }
        .header .gnb__area .gnb__gnbmenu-1dep:first-child > a > i {
          margin-right: 10px; }
        .header .gnb__area .gnb__gnbmenu-1dep:first-child > a:hover {
          color: #5f0080; }
      .header .gnb__area .gnb__gnbmenu-1dep:last-child::after {
        display: none; }
      .header .gnb__area .gnb__gnbmenu-1dep > a {
        display: block;
        padding: 20px 50px; }
        .header .gnb__area .gnb__gnbmenu-1dep > a:hover {
          color: #5f0080; }
        .header .gnb__area .gnb__gnbmenu-1dep > a span {
          position: relative; }
          .header .gnb__area .gnb__gnbmenu-1dep > a span::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            border-bottom: 1px solid #5f0080;
            opacity: 0; }
        .header .gnb__area .gnb__gnbmenu-1dep > a:hover span::after {
          opacity: 1; }
      .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep {
        width: 220px;
        height: 640px;
        background-color: #fff;
        border: 1px solid #ddd;
        position: absolute;
        top: 100%;
        font-size: 0.875rem;
        display: none;
        z-index: 1000; }
        .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li:hover > .gnb__gnbmenu-3dep {
          opacity: 1;
          transition: opacity .2s linear;
          z-index: 200; }
        .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a {
          display: block;
          padding: 8px 15px; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--icon {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: top;
            position: relative; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--icon img {
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 20; }
              .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--icon img:last-child {
                z-index: 19; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--txt {
            height: 24px;
            line-height: 24px;
            margin-left: 5px; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a:hover {
            color: #5f0080;
            background-color: #f7f7f7; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a:hover img:last-child {
            z-index: 21; }
        .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep {
          position: absolute;
          top: 0;
          left: 100%;
          width: 220px;
          height: 640px;
          background-color: #f7f7f7;
          opacity: 0;
          transition: opacity .2s linear; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a {
            display: block;
            height: 24px;
            padding: 8px 15px;
            line-height: 24px; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a span.gnb__gnbmenu-3dep--line {
              position: relative; }
              .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a span.gnb__gnbmenu-3dep--line::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                border-bottom: 1px solid #5f0080;
                opacity: 0; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a:hover {
              color: #5f0080;
              font-weight: 700; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a:hover span::after {
              opacity: 1; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly {
            width: 530px;
            padding: 5px 10px; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li {
              display: inline-block;
              width: 25%;
              padding: 10px 5px;
              box-sizing: border-box; }
              .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0; }
                .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li > a > img {
                  width: 100%; }
                .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li > a > .gnb__gnbmenu-3dep--line {
                  display: inline-block;
                  margin-top: 5px; }
  .header .gnb__area .gnb__search-box {
    position: absolute;
    top: 0;
    right: 70px;
    line-height: 55px; }
    .header .gnb__area .gnb__search-box > label {
      background-color: #f7f7f7;
      border: 1px solid #f7f7f6;
      padding: 5px 20px;
      border-radius: 20px;
      color: #666666; }
      .header .gnb__area .gnb__search-box > label:focus-within {
        background-color: #fff;
        color: #333333; }
  .header .gnb__area .gnb__delivery {
    float: right;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px; }
    .header .gnb__area .gnb__delivery > a {
      display: block; }

.footer {
  border-top: 1px solid #eee; }
  .footer__area {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; }
  .footer__cs, .footer__copy {
    width: 50%; }
  .footer__area, .footer__link {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto; }
    .footer__area .cs, .footer__link .cs {
      float: left; }
      .footer__area .cs__title, .footer__link .cs__title {
        font-size: 1.25rem;
        padding: 30px 0; }
      .footer__area .cs__call, .footer__link .cs__call {
        margin-bottom: 20px; }
        .footer__area .cs__call--num,
        .footer__area .cs__call .cs__link, .footer__link .cs__call--num,
        .footer__link .cs__call .cs__link {
          float: left;
          width: 150px; }
        .footer__area .cs__call--num, .footer__link .cs__call--num {
          font-size: 1.75rem;
          line-height: 40px; }
        .footer__area .cs__call .cs__info, .footer__link .cs__call .cs__info {
          float: right;
          width: calc(100% - 180px);
          line-height: 22px;
          font-size: 0.875rem;
          font-weight: bold; }
          .footer__area .cs__call .cs__info--desc, .footer__link .cs__call .cs__info--desc {
            color: #999999; }
        .footer__area .cs__call .cs__link--kakao, .footer__area .cs__call .cs__link--qna, .footer__link .cs__call .cs__link--kakao, .footer__link .cs__call .cs__link--qna {
          display: block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-weight: bold;
          border: 1px solid #e3e3e3; }
    .footer__area .copy, .footer__link .copy {
      float: right;
      padding-left: 20px;
      box-sizing: border-box;
      font-weight: bold; }
      .footer__area .copy__list, .footer__link .copy__list {
        padding: 30px 0;
        font-weight: bold;
        font-size: 0.875rem; }
        .footer__area .copy__list .copy__menu, .footer__link .copy__list .copy__menu {
          float: left; }
          .footer__area .copy__list .copy__menu--link, .footer__link .copy__list .copy__menu--link {
            padding: 6px; }
            .footer__area .copy__list .copy__menu--link:first-child, .footer__link .copy__list .copy__menu--link:first-child {
              padding-left: 0; }
      .footer__area .copy__copyright, .footer__link .copy__copyright {
        font-size: 0.75rem;
        line-height: 22px;
        color: #999999; }
        .footer__area .copy__copyright--em, .footer__link .copy__copyright--em {
          margin-top: 24px; }
        .footer__area .copy__copyright--link, .footer__link .copy__copyright--link {
          color: #5f0080; }
  .footer .link {
    padding: 40px 0 60px 0; }
    .footer .link > div {
      display: inline-block;
      width: 33%;
      vertical-align: top; }
    .footer .link__auth--img, .footer .link__lg--img {
      float: left;
      width: 34px;
      margin-right: 10px; }
      .footer .link__auth--img img, .footer .link__lg--img img {
        width: 100%; }
    .footer .link__auth--desc, .footer .link__lg--desc {
      font-size: 0.625rem;
      color: #999999;
      line-height: 16px;
      white-space: nowrap; }
    .footer .link__logos .logos__list {
      float: right;
      width: 30px;
      margin: 0 5px; }
      .footer .link__logos .logos__list--link {
        display: block;
        width: 100%; }
        .footer .link__logos .logos__list--link img {
          width: 100%; }

.contents .title {
  padding: 70px 0 35px 0;
  font-size: 2.1875rem;
  text-align: center; }
  .contents .title__desc {
    color: #999999;
    font-size: 1rem;
    display: block;
    margin-top: 20px; }

.contents .main-slide .slick-prev {
  left: 1.5625%; }

.contents .main-slide .slick-next {
  right: 1.5625%; }

.contents .main-slide .slick-prev,
.contents .main-slide .slick-next {
  opacity: 0;
  background-color: #333333;
  border: none; }
  .contents .main-slide .slick-prev::before,
  .contents .main-slide .slick-next::before {
    color: #ffffff; }

.contents .main-slide:hover .slick-prev,
.contents .main-slide:hover .slick-next {
  opacity: .5;
  transition: opacity .25s linear; }

.contents .main-slide__img--01 {
  background-image: url("../images/main_slide_img_01.webp"); }

.contents .main-slide__img--02 {
  background-image: url("../images/main_slide_img_02.webp"); }

.contents .main-slide__img--03 {
  background-image: url("../images/main_slide_img_03.jpg"); }

.contents .main-slide__img--04 {
  background-image: url("../images/main_slide_img_04.webp"); }

.contents .main-slide__img--05 {
  background-image: url("../images/main_slide_img_05.webp"); }

.contents .main-slide__img--06 {
  background-image: url("../images/main_slide_img_06.webp"); }

.contents .main-slide__img--07 {
  background-image: url("../images/main_slide_img_07.webp"); }

.contents .main-slide__img--08 {
  background-image: url("../images/main_slide_img_08.webp"); }

.contents .main-slide__img--09 {
  background-image: url("../images/main_slide_img_09.webp"); }

.contents .main-slide__img--10 {
  background-image: url("../images/main_slide_img_10.webp"); }

.contents .main-slide__img > a {
  display: block;
  width: 100%;
  height: 370px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.contents .product {
  max-width: 1050px;
  margin: 0 auto; }
  .contents .product__img {
    display: block;
    margin: 0 10px;
    overflow: hidden; }
    .contents .product__img:hover img {
      transform: scale(1.05);
      transition: transform .25s linear; }
    .contents .product__img img {
      width: 100%;
      transition: transform .25s linear; }
  .contents .product__name > a {
    display: block;
    padding: 10px;
    line-height: 1.5; }
  .contents .product__name.title {
    font-size: 1.125rem; }
  .contents .product__price {
    padding: 0 10px; }
    .contents .product__price.desc {
      display: block;
      color: #999999; }
  .contents .product .slick-prev,
  .contents .product .slick-next {
    top: 43%;
    transition: box-shadow .25s linear; }
    .contents .product .slick-prev:hover,
    .contents .product .slick-next:hover {
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      transition: box-shadow .25s linear; }
    .contents .product .slick-prev.slick-disabled,
    .contents .product .slick-next.slick-disabled {
      opacity: 0; }

.contents .spacial {
  padding: 80px 0;
  border-top: 1px solid #dddddd;
  max-width: 1050px;
  margin: 0 auto; }
  .contents .spacial__tit {
    float: left;
    width: 340px; }
    .contents .spacial__tit--purple {
      color: #5f0080;
      font-size: 1.75rem; }
    .contents .spacial__tit-subtitle {
      position: relative;
      color: #999999;
      padding-top: 30px;
      display: block;
      margin: 30px 0 60px 0; }
      .contents .spacial__tit-subtitle::before {
        content: '';
        width: 13px;
        height: 1px;
        background-color: #999999;
        position: absolute;
        top: 0;
        left: 0; }
    .contents .spacial__tit-hook {
      color: #cccccc;
      font-size: 0.875rem; }
  .contents .spacial__product {
    float: right;
    width: calc(100% - 340px);
    position: relative; }
  .contents .spacial__img {
    position: relative;
    display: block;
    overflow: hidden; }
    .contents .spacial__img-timer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background-color: #5f0080;
      opacity: .6;
      display: block; }
    .contents .spacial__img .timeRemaining {
      position: absolute;
      left: 50%;
      bottom: 10px;
      color: #ffffff;
      font-size: 1.25rem;
      transform: translateX(-50%); }
    .contents .spacial__img:hover img {
      transform: scale(1.05);
      transition: transform .25s linear; }
    .contents .spacial__img img {
      transition: transform .25s linear; }
    .contents .spacial__img img:first-child {
      width: 100%; }
    .contents .spacial__img img:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      width: 62px; }
  .contents .spacial__name-tit {
    margin-top: 15px; }
  .contents .spacial__name-sub {
    color: #999999;
    display: block;
    padding: 10px 0; }
  .contents .spacial__price-pr {
    padding-left: 4px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px; }
  .contents .spacial__price-cost {
    padding-left: 4px;
    font-size: 14px;
    color: #ccc;
    line-height: 30px;
    text-decoration: line-through; }
  .contents .spacial__dc {
    position: absolute;
    right: 10px;
    bottom: 4px;
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    color: #5f0080; }

.contents .event--bg .product__list {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  text-align: center; }

.contents .event--bg .product__img img {
  width: 100%; }

.contents .choice {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center; }
  .contents .choice__list-label {
    display: inline-block;
    height: 40px;
    padding: 0px 20px 0 20px;
    border: 1px solid #f7f7f6;
    border-radius: 20px;
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 15px; }
    .contents .choice__list-label:hover {
      color: #5f0080; }
  .contents .choice__list-radio {
    display: none; }
    .contents .choice__list-radio:checked + .choice__list-label {
      background-color: #5f0080;
      color: #fff; }
  .contents .choice .tabs {
    display: none; }
  .contents .choice #tab01:checked ~ .tab-01,
  .contents .choice #tab02:checked ~ .tab-02,
  .contents .choice #tab03:checked ~ .tab-03,
  .contents .choice #tab04:checked ~ .tab-04,
  .contents .choice #tab05:checked ~ .tab-05,
  .contents .choice #tab06:checked ~ .tab-06,
  .contents .choice #tab07:checked ~ .tab-07,
  .contents .choice #tab08:checked ~ .tab-08,
  .contents .choice #tab09:checked ~ .tab-09,
  .contents .choice #tab10:checked ~ .tab-10,
  .contents .choice #tab11:checked ~ .tab-11,
  .contents .choice #tab12:checked ~ .tab-12,
  .contents .choice #tab13:checked ~ .tab-13,
  .contents .choice #tab14:checked ~ .tab-14,
  .contents .choice #tab15:checked ~ .tab-15 {
    display: block; }
  .contents .choice .product {
    text-align: left; }
  .contents .choice .tab-01__link {
    display: inline-block;
    padding: 10px 120px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    margin-top: 30px; }

.contents .bnr {
  max-width: 1050px;
  margin: 0 auto;
  background-color: #e6edf2;
  margin-top: 80px; }
  .contents .bnr__link {
    color: #344b57;
    font-size: 1.75rem;
    display: block;
    padding: 35px 50px; }
    .contents .bnr__link-desc {
      display: block;
      font-size: 1rem;
      margin-top: 20px; }

.contents .morning--bg {
  margin-top: 70px; }

.contents .recipe {
  max-width: 1050px;
  margin: 0 auto; }

.contents .insta {
  max-width: 1050px;
  margin: 0 auto; }
  .contents .insta__img {
    display: block; }
    .contents .insta__img img {
      width: 100%; }

.contents .bnr-title {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  color: #999999;
  padding: 35px 0 70px 0; }
  .contents .bnr-title__desc {
    color: #333333;
    display: block;
    margin-top: 30px; }

/************ main bnr ************/
.main-bnr {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto; }
  .main-bnr__link {
    display: block;
    width: 100%; }
    .main-bnr__link--img {
      width: 100%; }

body {
  font-family: 'Noto Sans', sans-serif, 'Noto Sans KR', sans-serif;
  color: #333333; }
