html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  border: none;
  outline: none;
  background-color: transparent; }

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer; }

img {
  vertical-align: top; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.header .bnr {
  font-size: 0.875rem; }
  .header .bnr--back-purple {
    background-color: #5f0080; }
  .header .bnr .bnr__area {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    color: #fff;
    line-height: 42px;
    text-align: center; }
    .header .bnr .bnr__area .bnr__link--font-bold {
      font-weight: 700; }
    .header .bnr .bnr__area .bnr__link-icon {
      margin-left: 15px; }
    .header .bnr .bnr__area .bnr__close-btn {
      position: absolute;
      right: 0;
      top: 0; }
      .header .bnr .bnr__area .bnr__close-btn .btn {
        font-size: 20px;
        opacity: .6;
        width: 42px;
        height: 42px; }
        .header .bnr .bnr__area .bnr__close-btn .btn:hover {
          opacity: 1; }
        .header .bnr .bnr__area .bnr__close-btn .btn__icon {
          color: #fff; }

.header .utilmenu .utilmenu__area {
  max-width: 1050px;
  margin: 0 auto;
  padding: 10px 15px 0 15px;
  line-height: 22px; }
  .header .utilmenu .utilmenu__area .utilmenu__bnr {
    width: 160px;
    float: left; }
    .header .utilmenu .utilmenu__area .utilmenu__bnr img {
      max-width: 100%; }
  .header .utilmenu .utilmenu__area .utilmenu__menu {
    float: right;
    font-size: 0.75rem; }
    .header .utilmenu .utilmenu__area .utilmenu__menu--purple {
      color: #5f0080; }
    .header .utilmenu .utilmenu__area .utilmenu__menu > li {
      float: left;
      position: relative; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li > a::after {
        content: '';
        width: 1px;
        height: 13px;
        background-color: #d8d8d8;
        margin: -2px 5px;
        display: inline-block; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li:last-child a::after {
        display: none; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li .utilmenu__menu-sub {
        position: absolute;
        left: -6px;
        top: 22px;
        width: 90px;
        padding: 3px 9px;
        border: 1px solid #ddd;
        background-color: #fff;
        display: none;
        z-index: 10; }
      .header .utilmenu .utilmenu__area .utilmenu__menu > li:hover .utilmenu__menu-sub {
        display: block; }

.header .utilmenu .logo {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 65px; }
  .header .utilmenu .logo__link {
    position: absolute;
    bottom: 6px;
    display: block; }
    .header .utilmenu .logo__link img {
      max-width: 100%; }

.header .gnb__area {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px; }
  .header .gnb__area .gnb__gnbmenu {
    float: left; }
    .header .gnb__area .gnb__gnbmenu-1dep {
      float: left;
      position: relative; }
      .header .gnb__area .gnb__gnbmenu-1dep:hover .gnb__gnbmenu-2dep {
        display: block; }
      .header .gnb__area .gnb__gnbmenu-1dep::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 10px;
        background-color: #eee;
        top: 50%;
        right: 0;
        transform: translateY(-50%); }
      .header .gnb__area .gnb__gnbmenu-1dep:first-child > a {
        padding: 20px 40px 20px 0; }
        .header .gnb__area .gnb__gnbmenu-1dep:first-child > a > i {
          margin-right: 10px; }
        .header .gnb__area .gnb__gnbmenu-1dep:first-child > a:hover {
          color: #5f0080; }
      .header .gnb__area .gnb__gnbmenu-1dep:last-child::after {
        display: none; }
      .header .gnb__area .gnb__gnbmenu-1dep > a {
        display: block;
        padding: 20px 50px; }
        .header .gnb__area .gnb__gnbmenu-1dep > a:hover {
          color: #5f0080; }
        .header .gnb__area .gnb__gnbmenu-1dep > a span {
          position: relative; }
          .header .gnb__area .gnb__gnbmenu-1dep > a span::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            border-bottom: 1px solid #5f0080;
            opacity: 0; }
        .header .gnb__area .gnb__gnbmenu-1dep > a:hover span::after {
          opacity: 1; }
      .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep {
        width: 220px;
        height: 640px;
        background-color: #fff;
        border: 1px solid #ddd;
        position: absolute;
        top: 100%;
        font-size: 0.875rem;
        display: none;
        z-index: 1000; }
        .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li:hover > .gnb__gnbmenu-3dep {
          opacity: 1;
          transition: opacity .2s linear;
          z-index: 200; }
        .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a {
          display: block;
          padding: 8px 15px; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--icon {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: top;
            position: relative; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--icon img {
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 20; }
              .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--icon img:last-child {
                z-index: 19; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a .gnb__gnbmenu-2dep--txt {
            height: 24px;
            line-height: 24px;
            margin-left: 5px; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a:hover {
            color: #5f0080;
            background-color: #f7f7f7; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li > a:hover img:last-child {
            z-index: 21; }
        .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep {
          position: absolute;
          top: 0;
          left: 100%;
          width: 220px;
          height: 640px;
          background-color: #f7f7f7;
          opacity: 0;
          transition: opacity .2s linear; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a {
            display: block;
            height: 24px;
            padding: 8px 15px;
            line-height: 24px; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a span.gnb__gnbmenu-3dep--line {
              position: relative; }
              .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a span.gnb__gnbmenu-3dep--line::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                border-bottom: 1px solid #5f0080;
                opacity: 0; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a:hover {
              color: #5f0080;
              font-weight: 700; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep > li > a:hover span::after {
              opacity: 1; }
          .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly {
            width: 530px;
            padding: 5px 10px; }
            .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li {
              display: inline-block;
              width: 25%;
              padding: 10px 5px;
              box-sizing: border-box; }
              .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0; }
                .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li > a > img {
                  width: 100%; }
                .header .gnb__area .gnb__gnbmenu-1dep .gnb__gnbmenu-2dep > li .gnb__gnbmenu-3dep.kurly li > a > .gnb__gnbmenu-3dep--line {
                  display: inline-block;
                  margin-top: 5px; }
  .header .gnb__area .gnb__search-box {
    position: absolute;
    top: 0;
    right: 70px;
    line-height: 55px; }
    .header .gnb__area .gnb__search-box > label {
      background-color: #f7f7f7;
      border: 1px solid #f7f7f6;
      padding: 5px 20px;
      border-radius: 20px;
      color: #666666; }
      .header .gnb__area .gnb__search-box > label:focus-within {
        background-color: #fff;
        color: #333333; }
  .header .gnb__area .gnb__delivery {
    float: right;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px; }
    .header .gnb__area .gnb__delivery > a {
      display: block; }

.contents .main-slide:hover .slick-prev,
.contents .main-slide:hover .slick-next {
  opacity: .5;
  transition: opacity .25s linear; }

.contents .main-slide__img--01 {
  background-image: url("../images/main_slide_img_01.webp"); }

.contents .main-slide__img--02 {
  background-image: url("../images/main_slide_img_02.webp"); }

.contents .main-slide__img--03 {
  background-image: url("../images/main_slide_img_03.jpg"); }

.contents .main-slide__img--04 {
  background-image: url("../images/main_slide_img_04.webp"); }

.contents .main-slide__img--05 {
  background-image: url("../images/main_slide_img_05.webp"); }

.contents .main-slide__img--06 {
  background-image: url("../images/main_slide_img_06.webp"); }

.contents .main-slide__img--07 {
  background-image: url("../images/main_slide_img_07.webp"); }

.contents .main-slide__img--08 {
  background-image: url("../images/main_slide_img_08.webp"); }

.contents .main-slide__img--09 {
  background-image: url("../images/main_slide_img_09.webp"); }

.contents .main-slide__img--10 {
  background-image: url("../images/main_slide_img_10.webp"); }

.contents .main-slide__img > a {
  display: block;
  width: 100%;
  height: 370px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  font-family: 'Noto Sans', sans-serif, 'Noto Sans KR', sans-serif;
  color: #333333; }
