.contents {
    .main-slide {

        &:hover .slick-prev,
        &:hover .slick-next {
            opacity: .5;
            transition: opacity .25s linear;
        }

        &__img {
            &--01 {
                background-image: url('../images/main_slide_img_01.webp');
            }

            &--02 {
                background-image: url('../images/main_slide_img_02.webp');
            }

            &--03 {
                background-image: url('../images/main_slide_img_03.jpg');
            }

            &--04 {
                background-image: url('../images/main_slide_img_04.webp');
            }

            &--05 {
                background-image: url('../images/main_slide_img_05.webp');
            }

            &--06 {
                background-image: url('../images/main_slide_img_06.webp');
            }

            &--07 {
                background-image: url('../images/main_slide_img_07.webp');
            }

            &--08 {
                background-image: url('../images/main_slide_img_08.webp');
            }

            &--09 {
                background-image: url('../images/main_slide_img_09.webp');
            }

            &--10 {
                background-image: url('../images/main_slide_img_10.webp');
            }

            >a {
                display: block;
                width: 100%;
                height: 370px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}