.header {
    .bnr {
        font-size: 0.875rem;

        &--back-purple {
            background-color: #5f0080;
        }

        .bnr__area {
            position: relative;
            max-width: 1050px;
            margin: 0 auto;
            color: #fff;
            line-height: 42px;
            text-align: center;

            .bnr__link {
                &--font-bold {
                    font-weight: 700;
                }

                &-icon {
                    margin-left: 15px;
                }
            }

            .bnr__close-btn {
                position: absolute;
                right: 0;
                top: 0;

                .btn {
                    font-size: 20px;
                    opacity: .6;
                    width: 42px;
                    height: 42px;

                    &:hover {
                        opacity: 1;
                    }

                    &__icon {
                        color: #fff;
                    }
                }
            }
        }
    }

    .utilmenu {
        .utilmenu__area {
            max-width: 1050px;
            margin: 0 auto;
            padding: 10px 15px 0 15px;
            line-height: 22px;

            .utilmenu__bnr {
                width: 160px;
                float: left;

                img {
                    max-width: 100%;
                }
            }

            .utilmenu__menu {
                float: right;
                font-size: 0.75rem;

                &--purple {
                    color: #5f0080;
                }

                &>li {
                    float: left;
                    position: relative;

                    &>a {
                        &::after {
                            content: '';
                            width: 1px;
                            height: 13px;
                            background-color: #d8d8d8;
                            margin: -2px 5px;
                            display: inline-block;
                        }
                    }

                    &:last-child {
                        a::after {
                            display: none;
                        }
                    }

                    .utilmenu__menu-sub {
                        position: absolute;
                        left: -6px;
                        top: 22px;
                        width: 90px;
                        padding: 3px 9px;
                        border: 1px solid #ddd;
                        background-color: #fff;
                        display: none;
                        z-index: 10;
                    }

                    &:hover .utilmenu__menu-sub {
                        display: block;
                    }
                }
            }
        }

        .logo {
            position: relative;
            max-width: 1050px;
            margin: 0 auto;
            text-align: center;
            width: 100px;
            height: 65px;

            &__link {
                position: absolute;
                bottom: 6px;
                display: block;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    .gnb {

        &__area {
            position: relative;
            max-width: 1050px;
            margin: 0 auto;
            padding: 0 15px;

            .gnb__gnbmenu {
                float: left;

                &-1dep {
                    float: left;
                    position: relative;

                    &:hover .gnb__gnbmenu-2dep {
                        opacity: 1;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 10px;
                        background-color: #eee;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }

                    &:first-child {
                        &>a {
                            padding: 20px 40px 20px 0;

                            &>i {
                                margin-right: 10px;
                            }

                            &:hover {
                                color: #5f0080;
                            }
                        }
                    }

                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }

                    >a {
                        display: block;
                        padding: 20px 50px;

                        &:hover {
                            color: #5f0080;
                        }

                        span {
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                width: 100%;
                                border-bottom: 1px solid #5f0080;
                                opacity: 0;
                            }
                        }

                        &:hover span::after {
                            opacity: 1;
                        }
                    }

                    .gnb__gnbmenu-2dep {
                        width: 220px;
                        height: 640px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        position: absolute;
                        top: 100%;
                        font-size: 0.875rem;
                        opacity: 0;

                        >li {

                            >a {
                                display: block;
                                padding: 8px 15px;

                                .gnb__gnbmenu-2dep--icon {
                                    width: 24px;
                                    height: 24px;
                                    display: inline-block;
                                    vertical-align: top;
                                    position: relative;

                                    img {
                                        width: 100%;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        z-index: 20;

                                        &:last-child {
                                            z-index: 19;
                                        }
                                    }
                                }

                                .gnb__gnbmenu-2dep--txt {
                                    height: 24px;
                                    line-height: 24px;
                                    margin-left: 5px;
                                }

                                &:hover {
                                    color: #5f0080;
                                    background-color: #f7f7f7;
                                }

                                &:hover img:last-child {
                                    z-index: 21;
                                }

                                &:hover+.gnb__gnbmenu-3dep {
                                    opacity: 1;
                                    transition: opacity .2s linear;
                                }

                            }

                            .gnb__gnbmenu-3dep {
                                position: absolute;
                                top: 0;
                                left: 100%;
                                width: 220px;
                                height: 640px;
                                background-color: #f7f7f7;
                                opacity: 0;
                                transition: opacity .2s linear;

                                >li {
                                    >a {
                                        display: block;
                                        height: 24px;
                                        padding: 8px 15px;
                                        line-height: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .gnb__search-box {
                position: absolute;
                top: 0;
                right: 70px;
                line-height: 55px;

                &>label {
                    background-color: #f7f7f7;
                    border: 1px solid #f7f7f6;
                    padding: 5px 20px;
                    border-radius: 20px;
                    color: #666666;

                    &:focus-within {
                        background-color: #fff;
                        color: #333333;
                    }
                }
            }

            .gnb__delivery {
                float: right;
                width: 55px;
                height: 55px;
                text-align: center;
                line-height: 55px;

                >a {
                    display: block;
                }
            }
        }
    }
}