.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.d_inline_bl {
    display: inline-block !important;
    width: 180px;
}

.show {
    left: 0 !important;
    transition: left .5s linear;
}