
 /* ********** footer ********** */
.footer {
    background-color: #2C2A29;
}

.footer .footer__area {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
}

.footer .footer__menus {
    background-image: url('../images/footer_logo.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.footer .footer__menus ul {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.footer .footer__menus ul li {
    margin-bottom: 15px;
}

.footer__menus ul li a{
    color: #fff;
    font-size: 12px;
}

.footer__menus ul li.footer__list--title{
    margin-bottom: 30px;
}

.footer__menus ul li.footer__list--title a{
    font-size: 14px;
    text-transform: uppercase;
}

.footer__awards {
    margin: 40px 0 50px 0;
}

.footer__awards ul li {
    display: inline-block;
    width: 16%;
    text-align: center;
}

.footer__copyright {
    font-size: 12px;
    text-align: center;
}

.footer__copyright a {
    color: #fff;
    padding: 0 10px;
    border-right: 1px solid #393939;
}

.footer__copyright a.footer__copyright--br {
    border-right: none;
}

.footer__copyright .footer__copyright--grn {
    color:#00b050;
    font-weight: bold;
}

.footer__copyright .footer__copyright--link {
    background: none;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 15px 2px 0 3px;
    width: 90px;
    height: 30px;
    line-height: 30px;
}

.footer__copyright>ul {
    padding: 25px 0 5px 0;
    text-align: center;
}

.footer__copyright>ul li{
    display: inline-block;
    color: #999;
    margin: 0 7px;
}

.footer__copyright>p{
    line-height: 40px;
    color: #999;
}